<div class="column">
  <div class="tile">
    <div class="card">
      <% if product.image.present? %>
        <div class="card-image">
          <figure class="image">
            <%= image_tag product.image %>
          </figure>
        </div>
      <% end %>

      <div class="card-content">
        <p class="title">
          <%= link_to product.name, product %>
        </p>
      </div>
    </div>
  </div>
</div>