<p style="color: green"><%= notice %></p>

<div class="bg-white">
  <div class="container">
    <h2 class="sr-only">All Bikes</h2>

    <div class="row">
      <% @products.each do |product| %>
        <div class="col">
          <%= render product %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "New product", new_product_path %>
